@import url(./style.css);

.newheader {
    background-color: var(--third-color);
    z-index: 999;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

    .newhead {
        width: 90%;
        margin: auto;
        border: 0;
        padding: 15px 20px;
        border-radius: 100px;
    }

    .left {
        margin: auto 0;
        max-width: fit-content;


        img {
            width: 200px;
        }

        a {
            line-height: 0;
        }
    }

    .right {
        margin: auto 0;

        button {
            border-radius: 50px;
        }
    }
}

.newheader.scrolled {
    background-color: var(--third-color);
}

.navigate {
    margin: auto 0;
    display: flex;
    justify-content: center;
    /* position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, var(--fifth-color), rgb(20, 20, 20, 0));
    height: 100vh;
    width: 50%;
    padding: 40px 75px; */
    /* display: none; */

    nav {
        width: fit-content;
    }
    
    ul {
        display: flex;
        list-style-type: none;
        gap: 20px;
        margin-bottom: 0;
        background-color: transparent;
    }

    nav ul li a.active {
        color: var(--primary-color) !important;

        .navicons {
            background-color: var(--primary-color);
            color: var(--fourth-color);
        }
    }

    a {
        color: var(--fourth-color) !important;
        transition: border-color 0.5s ease-in-out;
        padding: 0;
        text-decoration: none;
    }

    li {
        margin: 0;
        cursor: pointer;
    }

    li:hover {
        a {
            color: var(--primary-color) !important;
        }

        .navicons {
            background-color: var(--primary-color);
            color: var(--fourth-color);
        }
    }
}

form {
    .pass {
        margin: auto 0 auto auto;
        gap: 10px;
    }

    .radio {
        display: flex;
        gap: 20px;

        input {
            width: 15px;
            margin-left: 0 !important;
        }

        label {
            margin-top: 0;
        }
    }

    ::placeholder {
        color: var(--fifth-color);
    }

    input,
    select,
    textarea {
        line-height: 1em !important;
        background-color: var(--fourth-color);
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #cacaca;
        border-radius: 5px;
    }

    label {
        flex: 1;
        font-family: var(--secondary-font);
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
        font-weight: 400;
    }

    button {
        width: 100%;
    }

    div {
        gap: 5px;
    }

    .dropdown-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .dropdown-input {
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .dropdown-content {
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group:last-child {
        border-bottom: none;
    }

    .dropdown-content label {
        margin-right: 10px;
    }

    .qty {
        cursor: pointer;
        width: 30px;
        text-align: center;
    }

    .qtyminus,
    .qtyplus {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        font-size: 18px;
    }

    .dropdown-content input[type="text"] {
        width: 50px;
        text-align: center;
    }

    .form-control {
        border: 1px solid #cacaca;
        padding: 10px 12px !important;
    }
}

.herobg {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0)), url(../newimages/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: var(--fourth-color);
    }

    .row {
        padding-top: 150px;
    }
}

.contact {
    form {
        margin-top: 10px;

        button {
            width: 100px;
        }

        input {
            padding: 15px;
            border: 1px solid #cacaca;
            border-radius: 5px;
        }
    }

    .right {
        max-width: 35%;
        text-align: center;

        h3 {
            background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--third-color));
            padding: 10px 25px !important;
            border-radius: 50px;
            color: var(--fourth-color) !important;
        }

        hr {
            margin: 15px auto;
            width: 75%;
        }
    }

    h3,
    p {
        margin: auto 0 !important;
    }
}

.cta {
    width: fit-content;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    margin: 10px;

    i {
        background-color: var(--third-color);
        color: var(--fourth-color);
        padding: 15px;
        border-radius: 100%;
        font-size: 25px;
        position: relative;
        border: 1px solid var(--fourth-color);
    }

    h4 {
        background-color: var(--primary-color);
        color: var(--fourth-color) !important;
        margin: auto 0 auto -20px !important;
        padding: 5px 20px 5px 30px !important;
        border-radius: 0 50px 50px 0;
    }
}

.bg1 {
    background-image: url(../newimages/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .row {
        padding-block: 50px;
        position:relative;
    }

    h1 {
        color: var(--fourth-color) !important;
    }

    .col3 {

        .column,
        div {
            flex: 1;
        }

        button {
            width: fit-content;
            margin: 5px 0;
        }

        input {
            padding-left: 30px;
            background-position-x: 7px;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: 15px;
        }
    }

    p {
        line-height: 1.5;
        color: var(--fourth-color);
        font-weight: 700;
        text-shadow: 0 2px 5px rgba(20, 20, 20, 0.5);
    }

    #flight_submit {
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
        border: none;
        cursor: pointer;
        background: var(--primary-color);
        padding: 10px 20px !important;
        border-radius: 0;
        color: var(--fourth-color) !important;
        font-weight: 700;
        border-radius: 5px;
    }

    #flight_submit:hover {
        background-color: var(--secondary-color);
    }

    #flight_from {
        background-image: url(../newimages/departure.png);
    }

    #flight_to {
        background-image: url(../newimages/arrivals.png);
    }

    #flight_from_date,
    #flight_to_date {
        background-image: url(../newimages/cdate.png);
    }

    #pass_info {
        background-image: url(../newimages/passengers.png);
    }

    .radio {
        div {
            background-color: var(--secondary-color);
            padding: 5px 10px;
            border-radius: 25px;
            color: var(--fourth-color);

            label {
                font-weight: 700 !important;
            }
        }
    }
}

.media1 {
    background-color: #f1f1f1;

    img {
        width: 100%;
        border-radius: 10px;
    }

    .column {
        margin: auto;
    }
}

.fsroutes {
    .slider-container1 {
        position: relative;
        overflow: hidden;
    }

    .slider1 {
        display: flex;
        transition: transform 0.5s ease-in-out;
        margin-top: 20px;
    }

    .slide1 {
        min-width: 23.4%;
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.2);
        margin: 10px;
        border-radius: 10px;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        align-items: end;
        cursor: pointer;
        padding: 20px;

        img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        hr {
            border: 1px solid var(--primary-color);
            margin-block: 5px;
            width: 100px;
        }

        p,
        button {
            display: none;
            line-height: 1.5;
        }

        b {
            font-size: 20px;
        }

        h3, p {
            color: var(--fourth-color) !important;
        }
    }

    .slide1:hover {

        p,
        button {
            display: block;
        }
    }

    .prev-btn1,
    .next-btn1 {
        background-color: transparent;
        color: var(--secondary-color);
        border: none;
        padding: 5px 12px;
        cursor: pointer;
        width: fit-content;
    }

    .disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }

    h2 {
        flex: 1;
    }

    .slidebtn {
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.2);
        margin: 2px;
        border-radius: 5px;
    }
}

.fsdestinations {
    .slider-container2 {
        position: relative;
        overflow: hidden;
    }

    .slider2 {
        display: flex;
        transition: transform 0.5s ease-in-out;
        margin-top: 20px;
        gap: 20px;
    }

    .slide2 {
        min-width: 23.4%;

        .innerdiv {
            border-radius: 10px;
            height: 275px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: grid;
            align-items: end;
            cursor: pointer;
            padding: 20px;
        }

        img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        h3 {
            color: var(--fourth-color) !important;
        }
    }

    .prev-btn2,
    .next-btn2 {
        background-color: transparent;
        color: var(--secondary-color);
        border: none;
        padding: 5px 12px;
        cursor: pointer;
        width: fit-content;
    }

    .disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }

    h2 {
        flex: 1;
    }

    .slidebtn {
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.2);
        margin: 2px;
        border-radius: 5px;
    }
}

.fscardsec {    
    .row {
        padding-block: 0;
    }

    .column {
        border: 2px solid var(--third-color);
        border-radius: 12px;
    }

    .innercol {
        padding: 25px 20px;
        margin: auto 0;
    }

    .innerimgcol {
        border-radius: 10px 0 0 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    p {
        line-height: 1.5;
        font-size: 15px;
    }

    h3 {
        margin: 0 auto 10px -60px !important;
        width: fit-content;
        background-color: var(--secondary-color) !important;
        padding: 7px 25px;
        border-radius: 25px;
        position: relative;
        color: var(--fourth-color) !important;
    }
}

.usps {
    .innercol {
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.2);
        padding: 20px;
        border-radius: 0 10px 10px 10px;
    }

    i {
        border-radius: 50px 50px 0 0;
        background-color: var(--primary-color);
        padding: 12px;
        font-size: 25px;
        color: var(--fourth-color);
    }

    hr {
        border: 2px solid var(--third-color);
        width: 100px;
        margin-block: 10px;
    }
}

.faqsec {
    h3:nth-child(1) {
        flex: 1;
    }

    .fa-angle-up, .faqdetail {
        display: none;
    }

    .faqdetail {
        border-top: 1px solid var(--secondary-color);
        padding-top: 10px;
        margin-top: 10px;
    }

    .newfaq{
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.2);
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 18px !important;
    }

    .show {
        display:block;
    }
}