@import url(./style.css);

.newheader {
    background: var(--fourth-color);
    z-index: 999;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 2px rgba(20, 20, 20, 0.1);

    .newhead {
        width: 90%;
        margin: auto;
        border: 0;
        padding: 15px 20px;
        border-radius: 100px;
    }

    .left {
        margin: auto 0;
        max-width: fit-content;

        img {
            width: 125px;
        }
    }

    .right {
        margin: auto 0;
    }
}

.navigate {
    margin: auto 0;

    ul {
        display: flex;
        list-style-type: none;
        gap: 10px;
        margin-bottom: 0;
        background-color: transparent;
        justify-content: center;
    }

    nav ul li a.active {
        color: var(--fifth-color) !important;
        border-color: var(--secondary-color);
    }

    a {
        color: var(--fifth-color) !important;
        transition: border-color 0.5s ease-in-out;
        padding: 5px 10px;
        border-bottom: 2px solid transparent;
    }

    li {
        background-color: transparent;
        margin: 0;
        padding: 0 5px;
        cursor: pointer;
    }

    li:hover {
        a {
            color: var(--third-color) !important;
            background-color: var(--fourth-color);
        }
    }
}

form {
    .pass {
        margin: auto 0 auto auto;
        gap: 10px;
    }

    .radio {
        display: flex;
        gap: 20px;

        input {
            width: 15px;
            margin-left: 0 !important;
        }

        label {
            margin-top: 0;
        }
    }

    ::placeholder {
        color: #676767;
        font-size: 15px;
    }

    input,
    select,
    textarea {
        line-height: 1em !important;
        background-color: var(--fourth-color);
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #cacaca;
        border-radius: 5px;
    }

    label {
        flex: 1;
        font-family: var(--secondary-font);
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
        font-weight: 400;
    }

    button {
        width: 100%;
    }

    div {
        gap: 5px;
    }

    .dropdown-container {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .dropdown-input {
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .dropdown-content {
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group:last-child {
        border-bottom: none;
    }

    .dropdown-content label {
        margin-right: 10px;
    }

    .qty {
        cursor: pointer;
        width: 30px;
        text-align: center;
    }

    .qtyminus,
    .qtyplus {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        font-size: 18px;
    }

    .dropdown-content input[type="text"] {
        width: 50px;
        text-align: center;
    }

    .form-control {
        border: 1px solid #cacaca;
        padding: 10px 12px !important;
    }
}

.herobg {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        color: var(--fourth-color);
        font-weight: 700 !important;
    }
}

.contact {
    form {
        margin-top: 10px;

        button {
            width: 100px;
        }

        input {
            padding: 15px;
            border: 1px solid #cacaca;
            border-radius: 5px;
        }
    }

    .right {
        background-color: var(--third-color);
        padding: 20px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        max-width: 35%;

        h2 {
            color: var(--fourth-color) !important;
            padding: 5px;
            border-bottom: 1px solid #cacaca;
        }

        h3 {
            background-color: var(--fourth-color);
            border-radius: 50px;
            margin: auto 0;
            z-index: 1;
            color: var(--third-color) !important;
        }

        p {
            background-color: var(--secondary-color);
            color: var(--fourth-color);
            padding: 0 20px;
            border-radius: 0 30px 30px 0;
            margin-left: -10px !important;
            border: 1px solid #fff;
        }

        .flex {
            margin-top: 10px;
        }

        a,
        a:hover {
            color: var(--fourth-color);
        }
    }

    h3,
    p {
        margin: auto 0 !important;
    }
}

.cta {
    background-color: var(--third-color);
    padding: 5px 15px 5px 5px;
    position: fixed;
    left: 10px;
    border: 1px solid var(--fourth-color);
    bottom: 10px;
    z-index: 1;
    display: none;
    border-radius: 50px;
    width: fit-content;

    i {
        background-color: var(--fourth-color);
        color: var(--third-color);
        padding: 10px;
        border-radius: 100%;
    }

    .flex {
        gap: 10px;
    }

    div,
    h3 {
        margin: auto 0 !important;
    }

    h4 {
        color: var(--fourth-color) !important;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.5;
    }
}

.BannerBg {
    background-image: linear-gradient(to right, rgb(20, 20, 20, 0.7), rgb(20, 20, 20, 0)), url(../images/a2zbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1,
    p {
        color: var(--fourth-color) !important;
    }


    .grid {
        gap: 7px;
    }

    .col3 {
        margin-top: 10px;

        label {
            margin: 0;
            font-size: 14px;
        }

        .column,
        div {
            flex: 1;
        }

        input,
        select {
            padding-left: 27px !important;
            margin-bottom: 0 !important;
            background-color: transparent;
            background-position-x: 7px;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: 15px;
            border: 0;
            margin-top: 0;
            background-color: var(--primary-color);
            border-radius: 0;
        }

        #flight_from {
            background-image: url(../images/departure.png);
        }

        #flight_to {
            background-image: url(../images/arrivals.png);
        }

        #flight_from_date,
        #flight_to_date {
            background-image: url(../images/cdate.png);
        }

        #pass_info {
            background-image: url(../images/passengers.png);
        }
    }

    .search_flights {
        margin-top: auto;
        flex: none !important;
        margin-bottom: 5px !important;
    }

    #flight_submit {
        font-size: 16px !important;
        text-transform: none;
    }

    form {
        background-color: var(--fourth-color);
        padding: 20px;
        border-radius: 5px;
        margin-top: 15px;
    }
}

.usps {
    background-color: var(--primary-color);
    .colum {
        background-color: var(--fourth-color);
        border-radius: 5px;

        
        p {
            font-size: 15px;
            line-height: 1.6;
            padding: 15px;
        }
        
        h3 {
            padding: 7px 15px;
            border-radius: 5px 5px 0 0;
            background-color: var(--secondary-color);
            color: var(--fourth-color) !important;
        }
    }

    div {
        margin: auto 0;
    }
}

.destinations {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0)), url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f7f7f7;

    img {
        width: 100%;
    }

    .column {
        h2, p {
            color: var(--fourth-color) !important;
        }
    }

    .colum {
        background-color: var(--fourth-color);
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.1);

        div {
            padding: 20px;
            border-bottom: 2px solid var(--secondary-color);
        }

        p {
            font-size: 15px;
            line-height: 1.65;
        }

        .parag {
            color: var(--secondary-color);
            margin-top: 15px;
        }
    }
}

.textmedia {
    background-color: #f7f7f7;
    .column {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-block: 100px;
    }

    .row {
        padding-block: 0;
    }
}

.sections {
    img {
        width: 100%;
    }

    .colum {
        background-color: var(--primary-color);

        div {
            padding: 15px;
        }

        .parag {
            color: var(--secondary-color);
            margin-top: 10px;
        }
    }

    hr {
        border: 1px solid var(--secondary-color);
        margin-block: 12px;
    }
}