@media (max-width: 1024px) {
    .row {
        width: 100%;
        padding: 20px;
        margin: auto;
    }

    h1 {
        font-size: 1.8em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.2em !important;
    }

    button {
        font-size: 14px;
    }

    .gap,
    .gap3 {
        gap: 10px;
    }

    .newfooter {
        padding-bottom: 70px;
    }

    .cta {
        display: block;

        a {
            color: var(--fourth-color) !important;
            line-height: 1.5;
        }
    }

    .grid1,
    .grid2,
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .fsroutes {
        .slide1 {

            p,
            button {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .grid1,
    .grid2,
    .grid3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .contact {
        .right {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    .fsroutes {
        .slide1 {
            min-width: 70%;
        }
    }

    .fsdestinations {
        .slide2 {
            min-width: 46%;

            .innerdiv {
                height: 200px;
            }
        }
    }

    .fscardsec {
        .innerimgcol {
            height: 200px;
            border-radius: 10px 10px 0 0;
        }

        h3 {
            margin: 0 auto 10px 0 !important;
        }
    }

    .newfooter {
        .row {
            padding-top: 20px !important;
        }

        .foot {
            font-size: 13px;
        }
    }

    .newheader {
        .left {
            img {
                width: 150px;
            }
        }

        .newhead {
            padding: 15px 0;
        }
    }

    .navigate {
        width: 100%;
        padding: 40px;
        background: rgba(20, 20, 20, 0.9);
    }

    .bg1 {
        .row {
            padding-top: 75px;
            padding-bottom: 20px;
        }
    }
}