@media (max-width: 1024px) {
    .row {
        width: 100%;
        padding: 20px;
        margin: auto;
    }

    h1 {
        font-size: 1.7em !important;
    }

    h2 {
        font-size: 1.4em !important;
    }

    h3 {
        font-size: 1.2em !important;
    }

    button {
        font-size: 14px;
    }

    .gap,
    .gap3 {
        gap: 10px;
    }

    .newheader {
        .head {
            width: 100% !important;

            .right {
                text-align: center !important;
                margin: 0 auto !important;

                p {
                    font-size: 12px !important;
                }

                i {
                    font-size: 15px !important;
                }
            }

            button {
                margin: 0 !important;
            }

            img {
                width: 113px !important;
                height: auto !important;
            }

            .nav1 {
                background-color: var(--fourth-color) !important;
                display: none;
                position: absolute;
                box-shadow: 0px 2px 2px rgba(20, 20, 20, 0.5);
                padding: 20px !important;
                top: 0;
                right: 0;
                width: 60%;
                height: 100vh;
                background-color: var(--third-color);
                overflow-y: auto;
                z-index: 9;

                #on i {
                    color: var(--fourth-color) !important;
                }

                ul {
                    text-align: left !important;
                    flex-direction: column !important;
                }

                i,
                li,
                a {
                    color: var(--third-color) !important;
                }
            }

            .icon {
                color: var(--fourth-color);
            }

            .ico {
                display: inline-block !important;
            }
        }

        .newnav {
            display: block !important;
            margin-top: 20px !important;
            padding-top: 20px !important;
            border-top: 2px solid var(--primary-color);
        }

        #off,
        #on {
            display: block !important;
            text-align: right !important;
            font-size: 20px !important;
            color: var(--fourth-color);
        }

        .navlogo {
            display: block !important;
            text-align: center;
            margin-top: 30px !important;
            background-color: var(--primary-color);
            border-radius: 10px;
            padding: 15px 5px !important;

            h4,
            i {
                color: var(--fourth-color) !important;
                font-size: 17px !important;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }

    .cta {
        display: block;

        a {
            color: var(--fourth-color) !important;
            line-height: 1.5;
        }
    }

    .grid1,
    .grid2,
    .grid3 {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .usps {
        text-align: left;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em !important;
    }

    h2 {
        font-size: 1.3em !important;
    }

    h3 {
        font-size: 1.17em !important;
    }

    .d-flex {
        flex-direction: column;
    }

    .grid1,
    .grid2,
    .grid3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .contact {
        .right {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    .newheader {
        .right {
            padding-right: 10px;
            gap: 10px;

            a {
                font-size: 13px;
            }
        }

        .newhead {
            .left {
                img {
                    width: 100px;
                }
            }
        }
    }

    .vootticketbook {
        .innerrow:nth-child(odd) {
            border-right: 0;
        }
    }

    .vootdestinations {
        .slide1 {
            min-width: 100%;
        }
    }

    .vootroutes {
        .slide2 {
            min-width: 100%;
        }
    }

    .vootpackages {
        .slide3 {
            min-width: 100%;
        }
    }

    .search-container {
        width: 100%;
    }

    .destinations {
        .grid {
            .imgcolumn {
                height: 250px;
            }

            a:nth-child(2) {
                .imgcolumn {
                    height: 250px;
                }
            }
        }
    }

    .usps1 {
        .grid {
            .innercol1 {
                text-align: left;
            }
        }
    }

    .bg {
        .column {
            width: 100%;
        }
    }

    .deals {
        .grid {

            .column:first-child,
            .column:last-child {
                grid-column: span 1;
            }
        }
    }

    .usps {
        p:first-child {
            display: none;
        }
    }

    .VootBanner {
        .row {
            padding-block: 20px;
        }

        .col3 {

            input,
            select {
                padding-block: 12px !important;
            }
        }

        .search_flights {
            margin-top: 15px !important;
        }
    }

    .textmedia {
        .column:nth-child(1) {
            padding-block: 0;
        }

        .row {
            padding-block: 20px;
        }
    }

    .newfooter {
        .foot {
            padding: 0 20px 20px 20px;
            margin: 0 !important;

            p {
                font-size: 13px;
            }
        }
    }

    .nzbg {
        .column {
            padding: 15px;

            div {
                padding: 15px;
            }
        }
    }

    .slider-container1 {
        .slide1 {
            min-width: 95%;

            .innercol {
                padding: 20px;
            }
        }
    }

    .bg1 {
        .arrowicon {
            margin: -35px 0 -20px 0 !important;
            padding-right: 17px !important;
            width: fit-content;
            margin-left: auto !important;
        }

        button {
            width: 100% !important;
        }
    }

    .nzroutes {
        .slider-container2 {
            .slide2 {
                min-width: 100%;
            }
        }
    }
}