/* Global CSS Starts Here*/
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Outfit');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px !important;
}

:root {
    --primary-color: #f74a1f;
    --secondary-color: #006cd2;
    --third-color: #0D1B2A;
    --fourth-color: #ffffff;
    --fifth-color: #141414;
    /*fonts*/
    --primary-font: "Outfit";
    --secondary-font: Raleway;
}

.row {
    width: 90%;
    margin: auto !important;
    padding: 80px 20px;
    background-color: transparent;
}

.column {
    flex: auto;
}

.d-flex {
    display: flex;
}

.flex {
    display: flex;
}

h1,
h2,
h3,
h4 {
    font-family: var(--primary-font) !important;
    line-height: 1.3 !important;
    margin: 0;
    padding: 0;
}

p,
.button,
li,
figcaption {
    font-family: var(--secondary-font);
    line-height: 2;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: var(--fifth-color);
    font-weight: 400;
}

a {
    font-family: var(--secondary-font);
    line-height: 2;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: var(--primary-color) !important;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color) !important;
}

h1 {
    font-size: 2.5em !important;
    font-weight: 500 !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.8em !important;
    color: var(--fifth-color) !important;
    font-weight: 700 !important;
}

h3 {
    font-size: 1.4em !important;
    color: var(--fifth-color) !important;
    font-weight: 700 !important;
}

h4 {
    font-size: 1.1em !important;
    color: var(--fifth-color) !important;
    font-weight: 700 !important;
}

li {
    margin-left: 14px;
}

.button {
    border: none;
    background: var(--primary-color);
    padding: 5px 20px;
    border-radius: 0;
    color: var(--fourth-color);
    font-weight: 700;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--secondary-color);
}

.gap {
    gap: 2.5rem;
}

.gap1 {
    gap: 2rem;
}

.gap2 {
    gap: 1.5rem;
}

.gap3 {
    gap: 1rem;
}

.grid {
    display: grid;
    gap: 25px;
}

.grid1 {
    grid-template-columns: repeat(2, 1fr);
}

.grid2 {
    grid-template-columns: repeat(3, 1fr);
}

.grid3 {
    grid-template-columns: repeat(4, 1fr);
}

ul#ui-id-2 {
    background-color: #fff;
    padding: 5px;
}

ul#ui-id-1 {
    background-color: #fff;
    padding: 5px;
}

.newfooter {
    background-color: var(--third-color) !important;


    h3,
    p {
        color: var(--fourth-color) !important;
    }

    .footsocial {
        justify-content: end;
        margin-bottom: 0 !important;

        i {
            background-color: var(--fourth-color);
            color: var(--secondary-color);
            padding: 10px !important;
            border-radius: 50px;
        }

        i:hover {
            background-color: var(--primary-color);
            color: var(--fourth-color);
        }

        div {
            gap: 12px;
        }
    }

    .links {
        border-top: 1px solid var(--fourth-color);
        border-bottom: 1px solid var(--fourth-color);
        padding: 20px 0 !important;
        margin-top: 20px !important;

        a::before {
            content: "\f105";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            margin-right: 8px;
        }
    }

    .column {
        flex: 1 !important;

        a {
            color: var(--fourth-color) !important;
            text-decoration: none !important;
        }

        a:hover {
            color: #cacaca !important;
        }
    }

    img {
        width: 200px !important;
    }

    .row {
        padding-top: 75px;
        padding-bottom: 30px;
    }

    .foot {
        padding-top: 20px !important;
        text-align: center;
        color: var(--fourth-color) !important;
    }
}

#on {
    max-width: fit-content;
    color: var(--primary-color);
    font-size: 22px;
    background-color: var(--fourth-color);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    margin: auto 0;
    display: none;
}

#off {
    color: #fff;
    font-size: 22px;
    background-color: var(--primary-color);
    width: fit-content;
    padding: 2px 10px;
    border-radius: 10px 10px 0 0;
    display: none;
}